{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'media_uploader/style.css' %}">
<script src="{% static 'media_uploader/resumable.js' %}"></script>
<script>
(function($) {
    $(function() {

        $('form').submit(function() {
            if($(this).hasClass('{{ name }}_disabled')) {
                return false;
            }
        });

        if (!(new Resumable().support)) {
            alert("No uploader support");
        }
        var r = new Resumable({
            target: '{% url 'media_uploader:media_uploader_resumable' %}',
            chunkSize: {{ chunkSize }},
            query: {
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                app_label: '{{ app_label }}',
                object_name: '{{ object_name }}',
                object_id: '{{ object_id }}'
            },
        });
        r.assignBrowse($('#{{ id }}_input_file'));
        r.on('fileAdded', function(file) {
            var template =
            '<div data-uniqueid="' + file.uniqueIdentifier + '">' +
            '<span class="fileName">' + file.fileName + ' (' + file.file.type + ')' + '</span>' +
            '<progress class="meter" value="0" max="1">' +
            '</div>';

            $('#filelist').append(template);
        });

        $(document).on('click', '.deleteFile', function () {
            var self = $(this),
                parent = self.parent(),
                identifier = parent.data('uniqueid'),
                file = r.getFromUniqueIdentifier(identifier);

            r.removeFile(file);
            parent.remove();
        });

        $(document).on('click', '#uploadFiles', function () {
            r.upload();
        });

        r.on('fileSuccess', function(file, message) {
            $('[data-uniqueId=' + file.uniqueIdentifier + ']').find('.meter').addClass('success');
            //todo: check if all uploaded
            $("form").removeClass("{{ name }}_disabled");

            if (typeof fileSuccessCallback == 'function') { fileSuccessCallback(); }
        });
        r.on('fileError', function(file, message) {
            $("#{{ id }}_uploaded_status").html(message);
        });
        r.on('fileProgress', function(file) {
            $('[data-uniqueId=' + file.uniqueIdentifier + ']').find('.meter').val(file.progress());
        });
        
    });

})(jQuery);


</script>