{% load static %}
<script src="{% static 'media_uploader/resumable.js' %}"></script>
<script>
(function($) {
    $(function() {

        $('form').submit(function() {
            if($(this).hasClass('{{ name }}_disabled')) {
                return false;
            }
        });

        if (!(new Resumable().support)) {
            alert("No uploader support");
        }
        var r = new Resumable({
            target: '{% url 'media_uploader:media_uploader_resumable' %}',
            chunkSize: {{ chunkSize }},
            query: {
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                app_label: '{{ app_label }}',
                object_name: '{{ object_name }}',
                object_id: '{{ object_id }}'
            },
        });
        r.assignBrowse($('#{{ id }}_input_file'));
        r.on('fileAdded', function(file) {
            r.upload();
            $("form").addClass("{{ name }}_disabled");
        });
        r.on('fileSuccess', function(file, message) {
            $('#{{ id }}').val(message);
            $("#{{ id }}_uploaded_status").html(message + ' Uploaded');
            $("form").removeClass("{{ name }}_disabled");
        });
        r.on('fileError', function(file, message) {
            $("#{{ id }}_uploaded_status").html(message);
        });
        r.on('progress', function(file, message) {
            $('#{{ id }}_progress').val(r.progress());
        });
        
    });

})(jQuery);


</script>